.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form label{
    font-weight: bold;
    margin: 0.7em;
}

.form input {
    padding: 0.7em;
    border-radius: 0;
    border: none;
}

.form input::placeholder {
    color: #747474;
}