.newproject{
    width: 25em;
    margin: 0 auto;
    padding: 1.3em ;
    background-color: #dbd7d7;
}

.newproject h1{
    margin-bottom: 0.5em;
}

.newproject p{
    color: #7b7b7b;
    margin-bottom: 0.5em;
}