.project_container{
    padding: 1em;
    width: 100%;
    background-color: #dbd7d7;
}

.title_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}
