.Container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 75vh;
}

.start{
    justify-content: flex-start;
    border: red;
}

.colum{
    flex-direction: column;
    justify-content: flex-start;
}
